table {
  width: 100%;
}

.example-form-field {
  width: 200px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.icon-btn {
  cursor: pointer;
}
<<<<<<< HEAD
=======

mat-header-cell,
mat-cell {
  justify-content: center;
  flex: 0 0 200px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
}
>>>>>>> ng-client
