<header>
    <mat-toolbar class="bg-dark">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <mat-icon>menu</mat-icon>
       </button>
       <span><a class="text-light nav-link" routerLink="/">Countries API</a></span>
       <span class="example-spacer"></span>
      <span>
      </span> <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <h3><a class="text-light nav-link"  routerLink="/about">Docs</a></h3>
       </button>
     </mat-toolbar>
</header>

  